{% extends 'base.html' %}

{% block content %}

<section class="hero">

<div>

<h1>Strategic Product Placement Analysis</h1>

<p>
Analyze product positioning, customer behavior,
sales trends and pricing strategies using Tableau.
</p>

<a href="/dashboard01" class="btn btn-light btn-lg mt-3">
View Dashboard
</a>

</div>

</section>

<div class="container my-5">

<div class="row g-4">

<div class="col-md-3">
<div class="dashboard-card">
<h3>8</h3>
<p>Visualizations</p>
</div>
</div>

<div class="col-md-3">
<div class="dashboard-card">
<h3>1500+</h3>
<p>Products</p>
</div>
</div>

<div class="col-md-3">
<div class="dashboard-card">
<h3>500+</h3>
<p>Customers</p>
</div>
</div>

<div class="col-md-3">
<div class="dashboard-card">
<h3>25</h3>
<p>Stores</p>
</div>
</div>

</div>

</div>

{% endblock %}